@font-face{
    font-family: AvenirNextBold;
    src: url(../resources/fonts/an-bold.ttf)
}

@font-face{
    font-family: AvenirNextMedium;
    src: url(../resources/fonts/an-medium.ttf)
}

body {
	margin: 0;
	padding: 0;
	font-family: AvenirNextMedium;
	position: relative;
}
#menu {
	background-color: #33ABAB;
	width: 230px;
	padding: 30px 30px 0px 30px;
	height: 100%;
	position: fixed;
	text-align: center;
	z-index: 2;

	left: -290px;
	transition: all 0.4s ease-in-out;
}

#menu-links {
	margin-top: 70px;
}

#panel {
	z-index: 1;
}

#menu img {
	width: 20px;
	float: right;
}

#menu img:after {
	clear: both;
}

#menu a {
	text-decoration: none;
	font-family: AvenirNextBold;
	font-size: 18pt;
	text-decoration: none;
	color: white;
	box-sizing: border-box;
	display: block;
	margin-top: 30px;
}



#container {
	width: 100%;
	transition: all 0.4s ease-in-out;
}

#top {
	width: 90%;
	height: 50px;
	padding: 10px 5% 0px;
}

.nav-bar {
	width: 10%;
	left: 5%;
	position: absolute;
}

#top-logo {
	position: relative;
	font-size: 18pt;
	font-family: AvenirNextBold;
}

#top-logo .logo {
	width: 15%;
	position: absolute;
	right: 90px;
}

#top-logo span {
	position: absolute;
	right: 0px;
	top: 10px;
	color: #33ABAB;
}

#discover-header {
	font-family: AvenirNextBold;
	font-size: 36pt;
	text-align: center;
	color: white;
	line-height: 200px;
	background-color: #33ABAB;
	height: 200px;
}

#discover {
	width: 90%;
	padding: 0px 5%;
}

.recommendation {
	width: 100%;
	margin: 20px 0 0 0;
}

.recommendation-header {
	text-align: center;
	color: white;
	background-color: gray;
	height: 150px;
}

.recommendation-header h1 {
	font-size: 22pt;
	margin: 0;
	line-height: 100px;
}

.recommendation-header button {
	font-size: 14pt;
	width: 30%;
	border: none;
	border-radius: 25px;
	background-color: #33ABAB;
	color: white;
	text-align: center;
	padding: 5px;
}

.recommendation-content {
	width: 100%;
	font-size: 14pt;
	font-style: italic;
	height: auto;
	background-color: #fcfcfc;
	overflow: auto;
	position: relative;
}

.bookmark {
	position: absolute;
	bottom: 5px;
	right: 15px;
	width: 20px;
}

.recommendation-content span {
	background: #F8E71C;
  	height: 12px;
  	width: 12px;  
  	display: inline-block;
  	border-radius: 12px;
}

.recommendation-content #threestars span:nth-child(4) {
	background: #202020;
	opacity: 0.2;
}

.recommendation-content span:nth-child(5) {
	background: #202020;
	opacity: 0.2;
}

.recommendation-content .profile {
	width: 30%;
	padding: 10px 5%;
	float: left;
	margin: auto;
	height: auto;
}

.recommendation-content .review {
	width: 50%;
	padding: 10px 5% 25px 5%;
	float: left;
	height: auto;
	object-fit: contain;
}

.recommendation a {
	text-decoration: none;
	color: white;
}

.img {
	margin: 0;
	height: 80px;
  	width: 80px; 
  	border: 0.5px solid gray; 
  	display: inline-block;
  	border-radius: 90px;
}

.clearfloat {
	clear: both;
}





