@media (min-width: 320px) and (max-width: 480px) {

@font-face{
    font-family: AvenirNextMedium;
    src: url(../resources/fonts/an-medium.ttf)
}
@font-face{
    font-family: AvenirNextBold;
    src: url(../resources/fonts/an-bold.ttf)
}
.normal-text{
    font-family: AvenirNextMedium;
    font-size: 14px;
}
.small-title{
    font-family: AvenirNextBold;
    font-size: 18px;
}
.medium-title{
    font-family: AvenirNextBold;
    font-size: 24px;
}
.large-title{
    font-family: AvenirNextBold;
    font-size: 36px;
}
.green{
    color: #33abab;

}
.dark-gray{
    color: #333333;

}

#menu {
	background-color: #33ABAB;
	width: 230px;
	padding: 30px 30px 0px 30px;
	height: 100%;
	position: fixed;
	text-align: center;
	z-index: 2;

	left: -290px;
	transition: all 0.4s ease-in-out;
}

#menu-links {
	margin-top: 70px;
}

#panel {
	z-index: 1;
}

#menu img {
	width: 20px;
	float: right;
}

#menu img:after {
	clear: both;
}

#menu a {
	text-decoration: none;
	font-family: AvenirNextBold;
	font-size: 18pt;
	text-decoration: none;
	color: white;
	box-sizing: border-box;
	display: block;
	margin-top: 30px;
}

#container {
	width: 100%;
	transition: all 0.4s ease-in-out;
}
#hamburger-menu-img{
    z-index: 3;
}

}